<h2 class="m-t-0 m-b-30 header-title">Editer mon programme</h2>
<div id="formul", class="form-group">
  <input class="form-control" id="exampleInputEmail1" name="training[name]", value="<%= @training.name %>">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value=${gon.token}>
</div>
