<h1 class="m-t-0 m-b-30 text-center">Etape 2</h1>
<h3 class="m-t-0 m-b-30 header-title text-center">Donnez un nom à votre programme</h3>
<div id="formul", class="form-group">
  <input class="form-control" id="exampleInputEmail1" name="training[name]", placeholder="Ex: Dimanche c'est les hanches">
</div>
