
    <h2 class="m-t-0 m-b-30 header-title">Mon nouveau Programme</h2>
    <form role="form">
        <div class="form-group">
            <input class="form-control" id="exampleInputEmail1" placeholder="Ex: Dimanche c'est les hanches" type="email">
        </div>
    </form>
