<h2 class="m-t-0 m-b-30 header-title">Mon nouveau Programme</h2>
<div id="formul", class="form-group">
  <input class="form-control" id="exampleInputEmail1" name="training[name]", placeholder="Ex: Dimanche c'est les hanches">
</div>
