<div class="content">

<div class="left_section">

   <h1 class="title-left-layout text-center">Ajouter un exercice à mon programme</h1>

   <div class="row list_training">
      <%= render "index_exercices" %>
   </div>
</div>

<div class="right_section"> 
   <div class="container">
        <div class="card-box">
                <div id="newserie">
                        <%= render "new_serie_name" %>
                    <div>
                </div>
            </div>
        <button type="submit" class="btn btn-outline-primary btn-block btn-lg waves-effect waves-light">Créer mon programme</button>
</div>

<% content_for(:after_js) do %>
    <% javascript_pack_tag 'new_training'%>
<% end %>

