<div class="content">

<div class="left_section">

   <h1 class="title-left-layout text-center">Ajouter un exercice à mon programme</h1>
<form class="form-inline">
    <div class="form-group m-r-10">
        <%= form_tag(new_training_path, :method => "get", id: "exampleInputEmail2") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Ex: Pompes", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-outline-success waves-effect waves-light btn-md">
        Rechercher
    </button>
    <% end %>
</form>

   <div class="row list_training">
      <%= render "index_exercices" %>
   </div>
</div>

<div class="right_section">

   <div class="container">
        <div id="newserie">
            <form id="newserie">

            </form>
        </div>
    </div>
</div>

<% content_for(:after_js) do %>
    <% javascript_pack_tag 'new_training'%>
<% end %>

