<div class="container-title">
  <style type="text/css">
  .container-title {
    margin: 35px;
  }
  </style>
  <h1 class="text-center"><%= @seance.training.name %></h1>
</div>
<div class="container">
  <%= simple_form_for training_seance_completions_path(@seance.training, @seance), method: :post do |f| %>
    <% x = 0 %>
    <div class="row">
      <% @seance.training.series.group_by().each do |serie| %>
        <div class="col-4">
          <%= render 'card_completion', serie: serie, x: x %>
        </div>
        <% x += 1 %>
      <% end %>
    </div>
    <div class="row">
      <%= f.button :submit, class: "btn btn-outline-success", value: "Compléter ma séance" %>
    </div>
  <% end %>
</div>



