.trainings-show{
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-training {
 border-bottom: solid 1px;
 color: $success;
 margin-top :45px;
 margin-bottom: 25px;
 padding: 10px;
}

.sous-title {
 color: $primary;
 margin-top :45px;
 margin-bottom: 25px;
 padding: 10px;
}
