<div class="col-sm-4 col-xs-12">
    <div class="card m-b-20 ">
        <div class="card-header">
            <h3>Programme 1</h3>
        </div>
        <div class="card-body card_relative">
            <blockquote class="card-bodyquote">
                <p>Update</p>
            </blockquote>
            <p class="card_completion">80 % </p>
            <button class="btn btn-danger card_icone"> + </button>
        </div>
    </div>
</div>
