<div class="col-sm-4 col-xs-12">
        <div class="card m-b-20 new-training-card">
            <div class="card-header">
                
            </div>
            <div class="card-body card_relative">
                <blockquote class="card-bodyquote">
                </blockquote>
                <%= link_to new_training_path, class: "card_icone" do %>
                <button class="btn btn-outline-primary btn-block btn-lg">Ajoutez un programme</button>
                <% end %>
            </div>
        </div>

</div>
