<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                Batch #108 - Dec. 2017 © Le Wagon - Team Gladius
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
