<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
               <p> Fait par la <b>Team Gladius</b> -
                <%= link_to "Batch #108 - Le Wagon Lille", "https://www.lewagon.com/fr/lille", target: "_blank" %></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
