.facebook-button {
    width: 100%;
    background-color: #3b5998;
    padding: 15px 60px;
    color: white;
    margin-bottom: 20px;
    border: none !important;
  }

.facebook-button:hover {
  background-color: #6d84b4;
}

.button-connect {
  width: 100%;
  padding: 15px 60px;
}


