.card-exercice-new-serie {
    padding: 20px 20px;
}

.card-exercice-hover {
    min-height: 190px;
}

.card-exercice-hover:hover {
    opacity: 0.9;
    background-color: #45505A;
    color: white;
}

.title-left-layout {
    padding-top: 40px;
    padding-bottom: 20px;
}
