.card-exercice-new-serie {
    padding: 20px 20px;
}

.card-exercice-hover {
    min-height: 295px;
}

.card-exercice-hover:hover {
    opacity: 0.9;
    background-color: #F9CD47;
    min-height: 295px;
    color: white;
}

.title-left-layout {
    padding-top: 40px;
    padding-bottom: 20px;
}