.card_compl {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.card_height {
  height: 150px
}

.card-title {
  height: 75px
}

.line_complet {
  display: flex;
  margin: 10px;
  justify-content: space-around
}

.card_line {
  display: flex;
  text-align: center;

}

.card_progress {
  margin: 20px
}

.goal {
  margin: 0 20px;
}

.check {
  margin: 0 20px;
}
