.gladius-card {
  margin-top: 25px;
}

.photo-profil {
  height: 120px;
  width: 120px;
}

.profile_photo {
    padding: 40px 40px;
    background-color: #3C4752;
    opacity: 0.9;
    color: white;
    letter-spacing: 2px;
    border: 1px solid white;
}

.profile_photo:hover {

    background-color: #45505A;
}