.title_programs {
  margin-bottom: 30px
}

.card_relative {
  display: flex;
  justify-content: space-around;
}

.goal {
  font-size: 30px !important;
  color: white;
}

.check {
  font-size: 30px !important;
  color: white;
}

.card_completion {
  right: 55px;
  bottom: 3px;
}

.list_training {
  padding: 15px
}

.card_stat {
  margin: 20px 10px
}

hr {
  height: 1px;
  color: #9AA6AC;
  background-color: #9AA6AC;
  border: none;
  margin: 10px 40px
}

.btn_new {
  margin-top: 10px;
  margin-right: 30px
}

.card_training {
  color: white;
  opacity: 0.65;
  &:hover {
    opacity: 1
  }
}

.new-training-card {
  min-height: 150px;
}

.delete-program-from-index {
  z-index: 5;
}

.new-program-button-container {
  padding: 10px;
}

.new-program-button {
    padding: 31px 150px;
}

.programme-pas-fait-card {
  border: 1px solid #EE2B47;
}
