.card_relative {
  position: relative;
}

.card_icone {
  position: absolute;
  right: 10px;
  bottom: 10px
}

.card_completion {
  position: absolute;
  right: 55px;
  bottom: 3px;
}

.list_training {
  padding: 30px
}

.icone_red {
  color: red
}

.icone_green {
  color: green
}
