.form-profil {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px
}

.title-profil {
  margin: 60px;
}

.upload_photo {
  padding: 0px !important
}

.gladius-card {
  margin-top: 25px;
}

.photo-profil {
  height: 120px;
  width: 120px;
}

.sub_form {
 justify-content: center;
 margin-bottom: 10px
}


.input_file {
  display: none
}
