<%= simple_form_for @exercice do |f| %>
<div class="row form-profil">
  <div class="col-offset-2 col-5 text-center">
    <%= f.input :name, placeholder: "Pompes sur une main", label: "Nom de l'exercice" %>
    <%= f.input :description, placeholder: "Ajoutez des précisions sur votre exercice si nécessaire", label: "Description" %>
    </br>
    <%= f.submit "Créer mon exercice", class: "btn btn-outline-primary btn-lg text-center" %>
  </div>
<% end %>
