<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Editer mon exercice" %>
<h1 class="title-profil text-center">Editer l'exercice</h1>
<div class="container">
    <%= render 'form_exercice' %>
</div>
