<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - Créer mon exercice" %>
<div class="container">
<h1 class="title-profil text-center">Créer mon exercice</h1>
    <%= render 'form_exercice' %>
</div>
